:root {
  --light-cyan: hsl(193, 38%, 86%);
  --neon-green: hsl(150, 100%, 66%);
  --grayish-blue: hsl(217, 19%, 38%);
  --dark-grayish-blue: hsl(217, 19%, 24%);
  --dark-blue: hsl(218, 23%, 16%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: hsl(218, 23%, 16%);
}

/* .test {
  outline: 1px solid yellow;
} */

.container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.advice-giver__advice-box {
  width: 550px;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  padding: 4rem;
  text-align: center;
  border-radius: 15px;
}

.advice-giver__advice-box {
  background-color: var(--grayish-blue);
}

.advice-giver__advice-box h3 {
  color: var(--light-cyan);
  padding: 3rem 0;
  font-size: 1.6rem;
  font-family: 'Manrope', sans-serif;
}

.advice-giver__advice-box p {
  color: var(--neon-green);
  text-transform: uppercase;
}